<%- include('../partials/header.ejs') %>
<main class="container">
    <h1 class="my-4">Twatter - Dashboard</h1>
    <form action="/post/create" method="POST">
        <div>
            <input name="posttwatPost" type="text" placeholder="annoying post here">
            <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
    </form>
    <div>
        <h1>Posts</h1>
        <hr>
        <% if (user.posts) {user.posts.forEach((post) => { %>
         
            <div class="card" style="width: 36rem;">
                <div class="card-body">
                    <p class="card-text"><%= post.twatPost %> </p>
                    
                </div>
            </div>
            <% })} %>
    </div>
</main>

<%- include('../partials/footer.ejs') %>