<%- include('../partials/header') %>
<div class="jumbotron m-4">
    <h1 class="display-4">Welcome to Twatter <%= user.firstName %>! </h1>
    <p class="lead">Post about everything annoying in your life.</p>
    <hr class="my-4">
    <p>Especially the things no one cares about! </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Be irritating now!</a>
    </p>
  </div>

<%- include('../partials/footer') %> 